@page "/AgregarTramite/{idExpediente:int}"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Web
@using SGE.Aplicacion.Enumerativos
@using SGE.Aplicacion.Servicios
@inject NavigationManager NavigationManager
@inject CasoDeUsoTramiteAlta CasoDeUsoTramiteAlta
@inject ITramiteRepositorio ITramiteRepositorio

@using SGE.Aplicacion.Excepciones

@inject IUserService UserService

<h1>Agregar Trámite</h1>

<form>
    <div class="form-group">
        <label for="etiqueta">Seleccionar Etiqueta para el Trámite</label><br/>
        <select id="etiquetas" @bind="_tramite.Etiqueta">
            @foreach (var etiqueta in Enum.GetValues(typeof(EtiquetaTramite)))
            {
                <option value="@etiqueta">@etiqueta</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="contenido">Contenido</label>
        <textarea id="contenido" class="form-control" @bind="_tramite.Contenido"></textarea>
    </div>
    <button type="button" class="btn btn-primary" @onclick="agregarTramite">Agregar</button>
</form>
<div class= "conateiner">
    <button type="button" class="btn btn-primary" @onclick="Atras">Volver</button>
</div>
@code
{
    [Parameter]
    public int IdExpediente { get; set;}
    private int id_Usuario => UserService.UserId;
    
    private Tramite _tramite = new Tramite();
    private string? ErrorMessage { get; set; } = "";

    private void agregarTramite()
    {
        _tramite.ExpedienteId = IdExpediente;
        // Ejecutar el caso de uso para agregar tramite
        try
        {
            CasoDeUsoTramiteAlta.Ejecutar(_tramite, id_Usuario);
            
            // Limpiar variables después de registrar correctamente
            _tramite = new Tramite();
            ErrorMessage = "Trámite registrado con éxito";
            NavigationManager.NavigateTo("/listarExpedientes");
        }
        catch (ValidacionException ex)
        {
            // Manejo de la excepción de validación (mostrar mensaje al usuario)
            ErrorMessage = "Hubo una excepcion de validaicon"; // Mostrar el mensaje de error de ValidacionException
            Console.WriteLine($"Error de validación: {ex.Message}");
        }
        catch (AutorizacionException ex)
        {
            // Manejo de la excepción de autorización (por ejemplo, mostrar un mensaje al usuario)
            ErrorMessage = "No tienes los permisos necesarios para agregar un trámite.";
            Console.WriteLine($"Error de autorización: {ex.Message}");
        }
        catch (Exception ex)
        {
            // Otro manejo de excepciones si es necesario
            ErrorMessage = "Ocurrió un error al agregar el trámite.";
            Console.WriteLine($"Error general: {ex.Message}");
        }
    }
     private void Atras()
    {
        NavigationManager.NavigateTo("/listarExpedientes");
    }
}
