@namespace SGE.UI.Pages
@page "/"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager Navegador;
@inject CasoDeUsoObtenerUsuario CasoDeUsoObtenerUsuario
@inject CasoDeUsoObtenerListaUsuarios CasoDeUsoObtenerListaUsuarios
@inject IHashService HashService
@inject IJSRuntime JSRuntime
@inject IUserService UserService

<div class="contenedorInicio">
    <h2>Iniciar Sesión</h2>

    <form>
        <div class="elementoInicio">
            <label for="email">Email:</label>
            <input id="email" placeholder="Email" @bind="_correoElectronico" class="form-control" required type="email">
        </div>
        <div class="elementoInicio">
            <label for="password">Contraseña:</label>
            <input id="password" placeholder="Contraseña" @bind="_password" type="password" class="form-control">
        </div>
    </form>

    <button class="boton" @onclick="Iniciar">Iniciar Sesión</button>
    <button @onclick="NavigateToRegistro" class="boton">Registrarse</button>

</div>

@code {
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
     private string _correoElectronico = string.Empty;
    private string _password = string.Empty;
    private List<Usuario> _usuarios = new List<Usuario>();
 
    private DialogoConfirmacion dialogo = new DialogoConfirmacion();

    private void Iniciar()
    {
        _usuarios = CasoDeUsoObtenerListaUsuarios.Ejecutar();
        var usuarioEncontrado = _usuarios.FirstOrDefault(u => u.CorreoElectronico == _correoElectronico);
       
        if (usuarioEncontrado != null)
        {
            UserService.UserId = usuarioEncontrado.Id;
            if (HashService.VerifyHash(_password, usuarioEncontrado.Contraseña, usuarioEncontrado.SalContraseña))
            {  //si sos el admin se te permite ver la listade Usuarios
                if(usuarioEncontrado.Id ==  1)
                {
                    Navegador.NavigateTo("/listadoUsuarios");
                }
                else
                {
                    Navegador.NavigateTo("/listarExpedientes");
                }
            }
            else
            {
                dialogo?.Mostrar("La contraseña ingresada es incorrecta. Contactar al soporte técnico.");

            }
        }
        else
        {
            dialogo?.Mostrar("El email ingresado no está registrado. Por favor, registre una cuenta o contacte al soporte técnico.");
        }
    }



    private void NavigateToRegistro()
    {
        NavigationManager.NavigateTo("/AgregarUsuario"); // Redirige a la página de registro de usuarios
    }
}