html {  /* es para que toda la pagina abarque el 100% */
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#7209b7, #3f37c0); /* ACA PODEMOS PONER IMAGENES, DE TODO LO QUE QUERAMOS */
}
.contenedor {
    margin: 50px auto; /* el auto es para que se centre */
    width: 400px; /* tambien para que se centre */
    padding: 30px;
    background: rgba(0, 0, 0, 0.5); /* el rgba es la transparencia */
    border-radius: 10px; /* es para redondear las esquinas */
}
.contenedor h2 { /* con esto todos los elementos con div con la clase de contenedor despues del h2 se cambian */
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #4cc9f0;
    text-align: center;
}
.contenedor .elemento label { /* solamente modificamos las etiquetas de tipo label que se encuentren dentro de un div de elemento y a su vez dentro de un div de contenedor */
    color: #fff;
}
.contenedor .elemento input {
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}
.contenedor .elemento input[type="submit"], .contenedor .elemento button {
    background-color: #f72585;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase; /* ponemos en mayuscula */
    cursor: pointer; /* cambia nuestro cursor a una manita */
    padding: 15px;
    margin-top: 30px;
    color: white; /* Asegura que el texto sea visible */
    text-decoration: none; /* Remueve el subrayado por defecto */
    transition: background-color 0.3s, text-decoration 0.3s; /* Añade una transición suave */
}
.contenedor .elemento input[type="submit"]:hover, .contenedor .elemento button:hover {
    background-color: #d61a73; /* Cambia el color de fondo al pasar el ratón */
    text-decoration: underline; /* Añade el subrayado al pasar el ratón */
    color: #ffffff; /* Cambia el color de la letra */
    font-size: 16px; /* Cambia el tamaño de la letra */
    font-family: Arial, sans-serif; /* Cambia la fuente */
    font-weight: bold; /* Cambia el grosor de la letra */
}
